{% extends '::base.html.twig' %}
{% block content %}
    <form method="POST" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
        <input type="submit" id="submit" />
    </form>
{% endblock content %}
